div {
  text-align: center;

  button {
    margin: 8px;

    img {
      width: 24px;
      height: 24px;
      filter: invert(1);
    }

    &.facebook {
      background-color: #3B5998;
    }

    &.google {
      background-color: #DC4E41;
    }

    &.twitter {
      background-color: #1DA1F2;
    }
  }
}
