<h1 mat-dialog-title>Sign in with</h1>
<div mat-dialog-content>
  <button mat-fab class="google" (click)="socialSignIn(1)">
    <img src="assets/google.svg">
  </button>
  <button mat-fab class="facebook" (click)="socialSignIn(2)">
    <img src="assets/facebook-f.svg">
  </button>
  <button mat-fab class="twitter" (click)="socialSignIn(3)">
    <img src="assets/twitter.svg">
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
</div>
