<h1 mat-dialog-title>Sign in with</h1>
<div mat-dialog-content>
  <button mat-fab class="google" (click)="socialSignIn(1)">
    <mat-icon aria-label="Google">person</mat-icon>
  </button>
  <button mat-fab class="facebook" (click)="socialSignIn(2)">
    <mat-icon aria-label="Facebook">favorite</mat-icon>
  </button>
  <button mat-fab class="twitter" (click)="socialSignIn(3)">
    <mat-icon aria-label="Twitter">favorite</mat-icon>
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
</div>
